
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR styling/typesetting CSS code BELOW HERE */

  body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    line-height: 1rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;


  }
  
  h1, h2{
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
  }
  header h1{
    font-family: 'Playfair Display',serif;
    font-size: 35px;
    text-align: center;
    word-spacing: 0.2rem;
    letter-spacing: 0.4rem;
  }

  section h2 + p{
    text-indent: 1.25rem;
  }

  a {
    color:#a66 ;
    text-decoration: underline;
    outline: none;
    

  }

  a:visited {
    color: rgb(110, 27, 27);

  }
  a:hover, a:focus {
    color:rgb(207, 151, 151);
    text-decoration: none;
  }

a[href^="http"]::after {
  content: ""; 
  display: inline-block;
  width: 10px; 
  height: 10px;
  background-image: url('external-link-52.png'); 
  background-size: contain; 
  background-repeat: no-repeat;
  margin-left: 0.25rem; 
  vertical-align: center; 
}


  a:active{
    color: rgb(244, 68, 68);
    font-weight: bold;


  }

  ul li::before {
    content: "→ "; 
    color: #a66; 
    font-weight: bold;
    margin-right: 0.5rem;
    }
  ul,ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    list-style: none;
  }

  li{
    line-height: 1.6;
    margin-bottom: 0.5rem;
  }

  nav{
    background-color:#ffffff;
    padding: 2rem;
    border-radius: 50px;
    list-style: none;
    text-align: left;
  }
  nav li::before {
  content: none;
  }
  nav a{
    display: block;
    padding: 1.1rem ;
    background-color: #fdf8f8;
    text-decoration: none;
    border-radius: 10px;
    border-color: #a66;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;

  }
